<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <table>
        <tbody>
            <tr>
                <td>分享链接:</td>
                <td><input type="text" name="url"></td>
                <td><input type="submit" value="提交"></td>
            </tr>
        </tbody>
    </table>
</form>
<h3>仅支持8f、uuyp以及ig这三个平台</h3>
    <p>使用说明：<br>
        在手机APP进入要监控的饰品详情页面，点击分享按钮；点击<b>复制</b>按钮(ig平台
        需点击<b>复制链接</b>按钮，再点复制)，将饰品分享链接填入上方文本框，
        点击<b>提交</b>，出现饰品信息页面即可。<br>如wx信息推送失败，请进入源码
        <b>function.py</b>，找到<b>Skey</b>行查看Server酱API是否填写正确，
        Server酱官网：<a href="https://sct.ftqq.com/login">sct.ftqq.com</a><br>
        更多问题请在GitHub提交Issue，看到了都会回复的。
    </p>
    <p>源码更新地址：<a href="https://github.com/Lord2333/csgo_hunter">GitHub</a></p>
    <p>Powered By Flask.<br><b>人生苦短，我用Py</b></p>
</body>
</html>